<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Filter Order</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container">
    <form th:action="@{/orders/filter}" th:object="${order}" class="d-flex flex-row justify-content-between w-75">
        <div class="d-flex flex-row">
            <label class="label-control" for="employee">Choose Employee: </label>
            <select class="form-select" id="employee" th:field="*{employeeId}">
                <option value="-1"></option>
                <option th:each="e:${listEmployee}" th:value="${e.id}" th:text="${e.id}"></option>
            </select>
        </div>
        <div class="d-flex flex-row">
            <label class="label-control" for="date">Choose Date: </label>
            <input class="form-control" type="date" id="date" th:value="*{fromDate}" th:field="*{fromDate}">
        </div>
        <div class="d-flex flex-row">
            <label class="label-control" for="toDate">To Date: </label>
            <input class="form-control" type="date" id="toDate" th:value="*{toDate}" th:field="*{toDate}">
        </div>
        <button class="btn btn-primary" type="submit">Filter</button>
    </form>
</div>
</body>
</html>